<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/reg}" method="post">
    <table border="1">
        <tr>
            <td>Username</td>
            <td><input type="text" th:field="*{userDTO.username}"></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><input type="text" th:field="*{userDTO.login}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="text" th:field="*{userDTO.password}"></td>
        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select  name="category" style="height: 22px; width: 200px" th:field="*{userDTO.role}">
                    <option value="">---</option>
                    <option th:each="role : ${roles}"
                            th:value="${role}"
                            th:text="${role.name()}">
                    </option>
                </select>
            </td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>